<launch>

	<arg name="low_pass_filter" default="0.998" />

	<include file="$(find navsat_simple)/launch/gps_common.launch"/>

	<node name="navsat_simple_node" pkg="navsat_simple" type="localization.py" output="screen">
		<param name="low_pass_filter" value="$(arg low_pass_filter)" />
	</node>

</launch> 
